rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if isSignedIn();
	  allow update: if isSignedIn() && request.auth.uid == userId
      allow read, write: if isSignedIn();
//	  allow update: if existingData().locked == false && getUserData().roles.keys().hasAll(['editor', 'admin']);
	  allow delete: if false;
	}

	match /companies/{companyId} {
	  allow create: if isSignedIn();
      allow read, write: if isSignedIn() && getUserData().company == companyId;

		match /invitations/{inviteId} {
			allow create: if isSignedIn() && getUserData().company == companyId;
			allow read, write: if isSignedIn() && getUserData().company == companyId;
	  	}
	}
	// Functions //
	  function isSignedIn() {
		return request.auth != null;
	  }

	  function isOwner(id) {
		return request.auth.uid == id;
	  }

	  function emailVerified() {
		return request.auth.token.email_verified;
	  }

	  function isAnonymous() {
		return request.auth.token.isAnonymous;
	  }

	  function existingData() {
		return resource.data;
	  }

	  function requestData() {
		return request.resource.data;
	  }

	  function getUserData() {
		return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
	  }

	  function getCompanyData() {
		  return get(/databases/$(database)/documents/companies/$(request.auth.uid)).data;
	  }
  }
}
